<div class="setores">
    <div class="sobre">
        <article>
            <h1>🎉 POA NA RUA 🎉</h1>
            <h3>Como surgiu a ideia do site?</h3>
            <p>O site foi criado com o intuito de informar e incentivar os moradores de Porto Alegre a frequentarem os centros
                culturais da cidade, a fim de gerar mais receita e movimentação nestes lugares. Com esta movimentação de
                pessoas pelos diversos lugares da cidade a sensação de segurança seria elevada, pois como confirmam as pesquisas,
                onde há grande concentração de pessoas há maior sensação de segurança. Sem falar nos empregos gerados pela
                maior demanda de mostras e espetáculos, prestigiando a nossa cultura e nossos artistas.</p>
        </article>
    </div>
    <div class="dados">
<a href="#mapaHome">
            <span>#VEM PRA RUA!</span>
        </a>
    </div>
</div>
<div class="setores">
    <div class="ev-cv">
        {{eventos.length}}
    </div>
    <div class="ev-cv">
        {{locais.length}}
    </div>

    <div id="mapaHome"></div>

</div>