<!DOCTYPE html>
<html lang="pt-br" ng-app="eventos">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Eventos: Sobre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/cssBase.css" />
    <script src="./js/app.js"></script>
    <script src="./js/controller/eventosctrl.js"></script>
</head>
<body ng-controller="eventosctrl">
    <nav>
        <a href="index.html">
        <img id="logo" src="../css/POA-na-rua.png">
        </a>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li>|</li>
            <li><a href="novoEvento.html">Novo Evento</a></li>
            <li>|</li>
            <li><a href="sobre.html">Sobre</a></li>
        </ul>
    </nav>

    <article>
        <h1>Como surgiu a ideia do site?</h1>
        <p>O site foi criado com o intuito de informar e incentivar os moradores de Porto Alegre a frequentarem os centros culturais da cidade, a fim de gerar mais receita e movimentação nestes lugares.</p>
        <p>Com esta movimentação de pessoas pelos diversos lugares da cidade a sensação de segurança seria elevada, pois como confirmam as pesquisas, onde há grande concentração de pessoas há maior sensação de segurança.
            Sem falar nos empregos gerados pela maior demanda de mostras e espetáculos, prestigiando a nossa cultura e nossos artistas.</p>
    </article>

    <footer>
        <p>Desenvolvido por Bernard Petzold e Igor Correa</p>
    </footer>
</body>
</html>